ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    li {
    float: left;
    }
    li a {
    display: block;
    color: beige;
    text-align: center;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    }
    li a:hover {
    background-color: #111;
    } 